html,
body,
main {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #ccc;
}
img {
  vertical-align: middle;
  width: 100%;
}
.el-table thead tr {
  background-color: #f3f3f3;
}
[class^=el-icon] {
  color: #ccc;
}
[class^=el-icon].active {
  color: black;
}
